<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <sectionGroup name="jscrambler">
      <section
        name="service"
        type="JScrambler.Client.Configuration.ServiceSection, JScrambler.Client"
        allowLocation="false"
        allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>

  <jscrambler>
    <service 
      apiHost="api.jscrambler.com" 
      apiVersion="3" 
      apiPort="80"> <!--use 443 for production--> 
      <credentials
        accessKey="YOUR_ACCESS_KEY" 
        secretKey="YOUR_SECRET_KEY" />
    </service>
  </jscrambler>

</configuration>